@import url("./__content-row/intro__content-row.css");
@import url("./__text/intro__text.css");
@import url("./__title/intro__title.css");
@import url("./__stat/intro__stat.css");
@import url("./__stat-bold/intro__stat-bold.css");
@import url("./__stat-list/intro__stat-list.css");

.intro {
  color: #fff;
  padding-bottom: 8.25vh;
  padding-top: 8.25vh;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
    max-width: 928px;
  }
  .intro__text {
    width: 75%;
    font-size: 16px;
  }
  .intro__title {
    width: 98%;
  }
  .intro__content-row {
    width: 98%;
  }
}
@media screen and (min-width: 500px) and (max-width: 825px) {
  .intro {
    width: 93%;
  }
  .intro__text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .intro {
    width: 95%;
  }
  .intro__text {
    width: 99%;
    font-size: 16px;
  }
  .intro__title {
    font-size: 32px;
    width: 100%;
  }
  .intro__content-row {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
}
