@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__item/cover__item.css");

.cover {
  padding-top: 2vh;
}

@media screen and (min-width: 825px) and (max-width: 1024px) {
  .cover__item {
    width: 100%;
    min-height: 640px;
  }
  .cover__subtitle {
    width: 28vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 825px) {
  .cover__item {
    width: 100%;
    min-height: 480px;
  }
  .cover__subtitle {
    width: 37vw;
    font-size: 18px;
  }
  .cover__title {
    font-size: 72px;
  }
}

@media (max-width: 500px) {
  .cover__title {
    font-size: 32px;
    margin-bottom: 1.6vh;
  }
  .cover__item {
    min-height: 320px;
    width: 100%;
  }
  .cover__subtitle {
    font-size: 14px;
    width: 68vw;
  }
}
